<div class="container">
   <div class="row">
      <div class="col-sm-6">

    	  	    <h2>Of Times.</h2>
              <h4>100% Gluten Free since 1909</h4>

      </div>
  </div>
  <div class="row spacer"></div>
  <div class="row">
  	<div class="col-lg-8">
      <div class="well" ng-repeat="post in posts">
      	<a href="/#/posts/{{post.id}}" ng-click="setPost(post.id)">
      		<h4>{{post.title}}</h4>
        	{{post.summary}}<br>
        	<i>{{post.date}}</i>
    	</a>
       </div>
    </div>
  </div>
</div>



