<!DOCTYPE html>
<html ng-app="postsApp">
<head>
  	<title>Of Times.</title>
  	<script type="text/javascript" src="js/lib/angular.min.js"></script>
  	<script type="text/javascript" src="js/lib/angular-resource.min.js"></script>
  	<script type="text/javascript" src="js/controllers/app.js"></script>
  	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar">
          <li><a href="#">Posts</a></li> 
        </ul>
              <ul class="nav navbar-nav navbar">
          <li><a href="#">About</a></li> 
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    <body ng-controller="authorsController">
    <div class="container">
	     <div class="row">
	        <div class="col-sm-6">

	      	  	    <h2>Of Times.</h2>
	                <h4>100% Gluten Free since 1909</h4>

	        </div>
	    </div>
      <div class="row spacer"></div>
      <div class="row">
      	<div class="col-lg-8">
          <div class="well" ng-repeat="post in posts">
          	<a href="index.html" ng-click="setPost(post.id)">
          		<h4>{{post.title}}</h4>
            	{{post.summary}}<br>
            	<i>{{post.date}}</i>
        	</a>
        	<li>{{currentPost.id}}</li>
           </div>
        </div>
      </div>


     </div>
    </body>
